bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket
/Aardvark.log
/bin/publish
/.vs/lensfun-net/v16/*.suo
/.vs/lensfun-net/DesignTimeBuild/*.dtbcache
