framework: netstandard2.0, net471, netcoreapp3.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                           ~> 4.6.2
  
nuget Aardvark.Base

nuget OpenCvSharp4  
nuget OpenCvSharp4.Windows
nuget ExifLib.Standard
nuget dotnetprojects.wpf.toolkit
                                            


group Build
source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v5
nuget Fake.DotNet.Cli
nuget FSharp.Core                           ~> 4.7.0
